<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>weclome to {{title}}</title>
    {% else %}
    <title>weclome to Twittor</title>
    {% endif %}
</head>

<body>
    <div>
        <!-- Twittor:<a href="/">Home</a> -->
        <!-- 利用 url_for 来写 URL 方便之后项目维护 -->
        Twittor:<a href="{{ url_for('index') }}">Home</a>

        <a href="{{ url_for('login') }}">Login</a>

    </div>
    <hr>
    {% block content %} {% endblock %}
</body>