<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
</body>
</html> -->

{% extends "base.html" %}

{% block content %}

    <h1>Login</h1>
    <form action="" method="post">  <!--使用 Flask WTF 操控form-->
        <p>
            <!-- <label for="">Username:</label>
            <input type="text" name="" id=""> -->
            {{ form.username.label }}
            {{ form.username() }}


        </p>
        <p>
            <!-- <label for="">Password:</label>
            <input type="password" name="" id=""> -->
            {{ form.password.label }}
            {{ form.password() }}
        </p>
        <p>
            <!-- <input type="checkbox" name="" id="">
            <label for="">Remember Me</label> -->
            {{ form.remember_me() }}
            {{ form.remember_me.label }}
        </p>
        <p>
            <!-- <input type="submit" value="Login"> -->
            {{ form.submit() }}
        </p>

    </form>
    
{% endblock %}